
:root {
  --main-gradient: linear-gradient(135deg, #7C3AED, #9333EA);
  --bg-gradient: linear-gradient(135deg, #050510, #1E1B4B);
  --card-bg: rgba(15, 23, 42, 0.85);
  --input-bg: #1e293b;
  --text-light: #94a3b8;
  --border-light: rgba(255,255,255,0.08);
}

body {
  background: var(--bg-gradient);
  font-family: Arial, sans-serif;
  color: white;
  min-height: 100vh;
}

.signup-card {
  width: 370px;
 background: rgba(30, 41, 59, 0.6);
  border-radius: 18px;
  backdrop-filter: blur(15px);
  padding: 28px;
  box-shadow: 0 0 40px rgba(0,0,0,0.7);
  border: 1px solid rgba(255,255,255,0.15);
}

.logo,
.brand {
  background: var(--main-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.customIcon {
  background: var(--main-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}


.input-group-text {
  background-color: var(--input-bg);
  border: none;
  color: white;
}

input.form-control {
  background-color: var(--input-bg);
  border: none;
  color: white;
}

input::placeholder {
  color: var(--text-light);
}


input.form-control:focus {
  background-color: var(--input-bg);
  color: white;
  box-shadow: 0 0 8px rgba(124, 58, 237, 0.6);
}


.login-btn {
  background: var(--main-gradient);
  border: none;
  color: white;
  font-weight: bold;
  padding: 11px;
  border-radius: 10px;
  transition: all 0.3s ease;
}


.login-btn:hover {
  transform: scale(1.04);
  box-shadow: 0 0 15px rgba(124, 58, 237, 0.6);
}

.signup {
  color: #a855f7;
  text-decoration: none;
  font-weight: 500;
}

.signup:hover {
  text-decoration: underline;
}

.forgot {
  color: #a855f7;
  text-decoration: none;
  font-size: 14px;
}

.forgot:hover {
  text-decoration: underline;
}


.form-check-input {
  background-color: var(--input-bg);
  border: none;
}

.form-check-input:checked {
  background-color: #7c3aed;
}


.text-secondary,
.text-secondary {
  color: var(--text-light) !important;
}


@media (max-width: 400px) {
  .login-card {
    width: 90%;
    padding: 22px;
  }
}